<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- ஏற்கெனவே உள்ள அனைத்து sources-ஐயும் நீக்கிவிடும் -->
    <clear />
    <!-- அதிகாரப்பூர்வ NuGet source-ஐ மட்டும் சேர்க்கவும் -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>